@model ZadanieTest.Models.Datebook

@{
    ViewBag.Title = "Детали";
    Layout = "~/Views/Shared/_StartLayout.cshtml";
}

<h2>Детали</h2>

<div>
    <h4>Записи</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tip.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tip.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeBegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeBegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ред.", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>
